/2/xag
/.DS_Store
/1/index.html~
/1/index.org~
/1/.DS_Store
/2/#xaa#
/2/1981.csv
/2/1981.csv~
/2/2000.csv
/2/app.js~
/2/data.json
/2/index.html~
/2/index.org~
/2/test.csv
/2/test.csv~
/2/xab
/2/xac
/2/xad
/2/xae
/2/xaf
/3/better_gapminder.html~
/3/gapminder.js~
